:root {
  --color-font-primary: #212121;
  --color-font-snow: #ffffff;
  --color-font-light: #f5f4fa;
  --color-font-dark: #000000;
  --color-font-sky: #2196f3;
  --color-font-wood: #757575;
  --color-font-cloud: #2f303a;
  --color-font-eclipse: rgba(255, 255, 255, 0.6);
  --color-border-white: #eeeeee;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-font-primary);
  background: var(--color-font-snow);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-menu {
  display: flex;
  border: 1px solid #ececec;
  justify-content: space-around;
}
.container-menu .link-logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;

  display: flex;
}
.menu {
  background-color: var(--color-font-snow);
}
.link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: var(--color-font-sky);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.menu-logo:hover {
  color: var(--color-font-sky);
}
.menu-logo {
  color: var(--color-font-dark);
}
.navigation {
  display: flex;
  gap: 46px;
}
.item {
  display: flex;
  justify-content: stretch;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation .navigation-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-font-primary);
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.navigation-link:focus,
.navigation-link:hover {
  color: var(--color-font-sky);
}
.communications-link {
  background: var(--color-font-snow);
}
.communications-link {
  display: flex;
  gap: 50px;
}
.communications-link .items {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-top {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-font-wood);
  text-decoration-line: none;
  letter-spacing: 0.02em;
}
.link-top:hover,
.link-top:focus {
  color: var(--color-font-sky);
}
.model-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 33px;
}
.filter-family {
  display: inline-block;
}
.filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
  background: var(--color-font-light);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.filter:hover,
.filter:focus {
  background-color: var(--color-font-sky);
  color: var(--color-font-snow);
}
.model-project {
  background: var(--color-font-snow);
  display: block;
  flex-wrap: wrap;
  gap: 30px;
}
.item-project {
  display: inline-block;
  flex-basis: calc((100%-20px) / 3);
  border-right: 1px solid var(--color-border-white);
  border-bottom: 1px solid var(--color-border-white);
  border-left: 1px solid var(--color-border-white);
}
.model-works {
  width: 370px;
  height: 294px;
}
.name-works {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
}
.text-works {
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-font-wood);
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
}
.container-title,
.finish-block {
  background: var(--color-font-cloud);
}
.container-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0;
}
.title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: var(--color-font-snow);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 30px;
  max-width: 696px;
  display: flex;
  justify-content: center;
}
.click {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-font-snow);
  background: var(--color-font-sky);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  border-radius: 4px solid #2196f3;
  cursor: pointer;
  margin-bottom: 200px;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
}
.click:focus,
.click:hover {
  color: var(--color-font-snow);
}
.composition-text {
  background-color: var(--color-font-snow);
  padding-top: 84px;
  display: inline-block;
  width: 1170px;
  flex-wrap: nowrap;
  margin-bottom: 0;
}
.child {
  width: 270px;
  height: 260px;
  display: inline-block;
}
.rank-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.post {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-font-wood);
  letter-spacing: 0.03em;
  padding-top: 10px;
}
.creation-team {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  display: inline-block;
  justify-content: center;
  width: 352px;
  margin-top: 0;
  padding-left: 409px;
}
.childrens {
  width: 1170px;
  height: 386px;
  border: 0;
  padding-top: 50px;
}
.child-photo {
  display: inline-block;
}
.creation-photo {
  width: 370px;
  height: 294px;
  mix-blend-mode: normal;
}
.team-people-job-box {
  background: var(--color-font-light);
  max-width: 1200px;
  height: auto;
}
.creation-team-secend {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 50px;
}
.kids-person {
  width: 1170px;
  height: 368px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: stretch;
  padding-bottom: 86px;
  padding-top: 50px;
  margin: 0 auto;
  border-radius: 1px solid var(--color-font-snow);
}
.kids {
  width: 270px;
  height: 260px;
  border-radius: 0px;
  padding: 0;
  background-color: var(--color-font-snow);
  display: block;
}
.team-people {
  width: 270px;
  height: 260px;
}
.person {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  padding: auto 99px 10px;
  background-color: var(--color-font-snow);
}
.name-job {
  font-size: 16px;
  line-height: 1.1;
  color: var(--color-font-wood);
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  background-color: var(--color-font-snow);
}
.logo-bottom:hover {
  color: var(--color-font-sky);
}
.logo-bottom {
  color: var(--color-font-snow);
}
.contact-link,
.contact-road:hover,
.contact-link,
.contact-road:focus {
  color: var(--color-font-sky);
}
.container-bottom {
  padding-top: 20px;
  padding-bottom: 60px;
}
.kids-bottom {
  display: block;
}
.contact-link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-font-snow);
  text-decoration-line: none;
  letter-spacing: 0.03em;
}
.contact-road {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
